<div class="home-container" style="display:flex;flex-direction:column;align-items:center;width:100vw;max-width:100vw;padding:0;margin:0;">
  <div style="width:100%;max-width:900px;padding:2em 1em 0 1em;">
    <app-gpx-upload *ngIf="!gpxData" (gpxLoaded)="onGpxLoaded($event)"></app-gpx-upload>
    <app-map [gpxData]="gpxData"></app-map>
    <div style="display:flex;gap:1em;justify-content:center;margin-top:2em;">
      <button *ngIf="gpxData" mat-raised-button color="primary" routerLink="/navigator">
        <mat-icon>navigation</mat-icon> Iniciar ruta
      </button>
      <button *ngIf="gpxData" mat-raised-button color="warn" (click)="clearGpx()">
        <mat-icon>delete</mat-icon> Limpiar ruta
      </button>
    </div>
  </div>
</div>
