<div class="route-navigator-container">
  <div class="map-wrapper">
    <div class="map" #mapContainer></div>
    <div class="map-fab-group">
      <button mat-fab color="primary" class="map-fab" (click)="goFullscreen()" aria-label="Fullscreen">
        <mat-icon>fullscreen</mat-icon>
      </button>
      <button mat-fab color="warn" class="map-fab" (click)="stopNavigation()" aria-label="Stop navigation">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div *ngIf="error" class="map-error-fab">
      <span class="map-error-msg">
        <mat-icon>error</mat-icon> {{error}}
      </span>
    </div>
  </div>
</div>
